@import './common/variable';

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: 'Kumbh Sans',sans-serif;
    background: linear-gradient($SoftViolet 15%, $SoftBlue);
    min-height: 100vh;

    display: flex;
    justify-content: center;
}

@media only screen and (min-width:768px){
    body{
        align-items: center;
    }
}